<!--Página utilizada para mostrar las consultas realizadas por el mismo usuario-->
{% extends "appalyzer/base.html" %}<!--Extraemos plantilla base-->
<!--Inicio sección hero-->
{% block hero %}

<!--Ciclo para mostrar predicciones del mismo usuario-->
{% for post in posts %}
    <section id="posts" class="posts">
        <div class="container card w-50 border-primary">
          <div class="card-header">
            <div class="section-title" data-aos="fade-in" data-aos-delay="100">
              <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="">
              <h2><a href="{% url 'AppAlyzer-PostDetails' post.id %}">{{ post.app_name }}</a></h2>
            </div>
          </div>
          <div class="card-body">
            <p>Total de comentarios</p>
            <p>{{ post.comments_quantity }}</p>
            <div class="row">
              <div class="col">
                <p>Comentarios Positivos</p>
                <p>{{ post.positive_comments }}</p>
              </div>
              <div class="col">
                <p>Comentarios Neutros</p>
                <p>{{ post.neutral_comments }}</p>
              </div>
              <div class="col">
                <p>Comentarios Negativos</p>
                <p>{{ post.negative_comments }}</p>
              </div>
                <p>Emoción</p>
                <p>{{ post.emotion_comments }}</p>
            </div>
          </div>
          <div class="section-title" data-aos="fade-in" data-aos-delay="100">
            <a href="" class="mr-2">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_consulted|date:"F d, Y" }}</small>
          </div>
        </div>
    </section>    
    {% endfor %}
    <!--Fin ciclo-->
{% endblock hero %}
<!--Fin sección hero-->