<!--
  Página que permite iniciar sesión a usuarios ya registrados
-->
{% extends "appalyzer/base.html" %}<!--Renderizamos plantilla base-->
{% load crispy_forms_tags %}<!--Libreria para cuestionarios-->
<!--Inicio de sección contenido donde son mostrados los campos necesarios para iniciar sesión-->
{% block content %} 
<section id="login" class="login">
  <div class="container w-50">
    <div class="section-title" data-aos="fade-in" data-aos-delay="100">
      <form action="" method="POST">
        {% csrf_token %}<!--Token único que mejora seguridad contra Cross Site Request Forgeries-->
        <fieldset class="form-group">
          <h2>Inicia Sesión</h2>
          {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <button type="submit" class="btn-98">Iniciar Sesión</button>
        </div>
      </form>
      <div class="text-center">
        <small class="text-muted">¿No tienes cuenta? <a class="ml-2" href="{% url 'register' %}">Regístrate</a></small>
      </div>
      <div class="text-center">
        <small class="text-muted">¿Haz olvidado tu contraseña?<a class="ml-2" href="{% url 'password_reset' %}">Restablecer contraseña</a></small>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
<!--Fin sección content-->

