<!--
  Página mostrada para que el usuario confirme el restableecimiento de contraseña
-->
{% extends "appalyzer/base.html" %}<!--Renderizamos plantilla base-->
{% load crispy_forms_tags %}<!--Libreria para cuestionarios-->
<!--Inicio sección contenido-->
{% block content %}
<section id="login" class="login">
  <div class="container w-50">
    <div class="section-title" data-aos="fade-in" data-aos-delay="100">
      <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <h2>Restablecer Contraseña</h2>
          {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <button type="submit" class="btn-98">Restablecer</button>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock content %}
<!--Fin sección contenido-->